In [9]:
import altair as alt
import pandas as pd
import geopandas as gpd # Requires geopandas -- e.g.: conda install -c conda-forge geopandas

alt.data_transformers.enable('json')

names = pd.read_csv("dpt2020.csv", sep=";")
names.drop(names[names.preusuel == '_PRENOMS_RARES'].index, inplace=True)
names.describe()

               sexe        nombre
count  3.705516e+06  3.705516e+06
mean   1.536070e+00  2.292591e+01
std    4.986973e-01  7.960755e+01
min    1.000000e+00  3.000000e+00
25%    1.000000e+00  4.000000e+00
50%    2.000000e+00  7.000000e+00
75%    2.000000e+00  1.800000e+01
max    2.000000e+00  6.310000e+03

In [12]:
depts = gpd.read_file('departements-version-simplifiee.geojson')
merged = pd.merge(depts, names, how='left', left_on='code', right_on='dpt')

In [10]:
names.head()

       sexe preusuel annais dpt  nombre
10882     1        A   XXXX  XX      27
10883     1    AADAM   XXXX  XX      30
10884     1    AADEL   XXXX  XX      56
10885     1    AADIL   1983  84       3
10886     1    AADIL   1992  92       3

In [11]:
depts_file = 'departements-version-simplifiee.geojson'
# depts_file = 'departements-avec-outre-mer.geojson'
depts = alt.topo_feature(depts_file, feature="geometry")

alt.Chart(depts).mark_geoshape(
    fill='lightgray',
    stroke='white',
).project(
#     "equirectangular"
).properties(
    width=800,
    height=600
)

alt.Chart(...)

In [37]:
# alt.Chart(depts).mark_geoshape(
#     fill='lightgray',
#     stroke='white'
# ).encode(
#     tooltip=['nom:N', 'code:N', 'dpt:N']
# ).transform_lookup(
#                   lookup='code',
#                   from_=alt.LookupData(names, 'dpt', list(names.columns))
# ).project(
# #     "equirectangular"
# ).properties(
#     width=800,
#     height=600
# )

In [38]:
# # OK, works

# france = alt.Data(url=depts_file, format=alt.DataFormat(property='features', type='json'))

# alt.Chart(names
# ).transform_lookup(default='0',
#                   as_='geo',
#                   lookup='dpt',
#                   from_=alt.LookupData(data=france, key='properties.code')
# ).mark_geoshape().encode(alt.Color('count()',scale=alt.Scale(type='log')),
#                         alt.Shape(field="geo", type="geojson"),
#                         tooltip=['count()', 'dpt:N']
# ).project(scale=900,
#           center=[2, 46.5]
# ).properties(
#     title='Departement'
# )

In [39]:
# depts_file = 'departements-version-simplifiee.geojson'
# depts = alt.Data(url=depts_file, format=alt.DataFormat(property='features', type='json'))

# alt.Chart(names
# ).transform_lookup(default='0',
#                   as_='geo',
#                   lookup='dpt',
#                   from_=alt.LookupData(data=depts, key='properties.code')
# ).mark_geoshape().encode(alt.Color('count()',scale=alt.Scale(type='log')),
#                         alt.Shape(field="geo", type="geojson"),
#                         tooltip=['nom:N', 'dpt:N', 'count()']
# )

In [ ]:
alt.Chart(merged).mark_geoshape().encode(
    tooltip=['nom', 'code'],
    color='code'
)

In [8]:
names.head()

       sexe preusuel annais dpt  nombre
10882     1        A   XXXX  XX      27
10883     1    AADAM   XXXX  XX      30
10884     1    AADEL   XXXX  XX      56
10885     1    AADIL   1983  84       3
10886     1    AADIL   1992  92       3